.clock {
  color: blue;
}

.msg,
.error {
  margin-left: 1em;
}

.error {
  color: red;
}

.completed {
  color: green;
}

#logs {
  margin-top: 1em;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
}

#canvas {
  background-color: lightblue;
}

#txtInput {
  width: 8em;
}